<mat-toolbar color="primary">

    <a class="logo-zurich" (click)="goHome()"></a>

    <span class="card-spacer"></span>
    <div>
      <button mat-icon-button class="person-icon" aria-label="Cliente">
        <mat-icon>person</mat-icon>
      </button>
      <span>{{ tipoUsuario() }}</span>


      <button mat-button [matMenuTriggerFor]="menu" *ngIf="mostrarMenu()">Menu</button> 
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="goClientes()" *ngIf="mostrarClientes()"> 
          <mat-icon>person</mat-icon>
          <span>Clientes</span>
        </button>
        <button mat-menu-item (click)="goPolizas()" *ngIf="mostrarPolizas()">
          <mat-icon>description</mat-icon>
          <span>Polizas</span>
        </button>
        <button mat-menu-item (click)="goDash()" *ngIf="mostrarDashboard()">
          <mat-icon>dashboard</mat-icon> 
          <span>Dashboard</span>
        </button>
        <button mat-menu-item (click)="goLogin()" *ngIf="mostrarCerrarSesion()">
          <mat-icon>logout</mat-icon>
          <span>Cerrar Sesión</span>
        </button>
      </mat-menu>


    </div>

</mat-toolbar>
  