.logo-zurich {
    margin-right: 16px;
    background-image: url('https://edge.sitecorecloud.io/zurichinsurf8c0-zwpshared-prod-d824/media/project/zurich-headless/shared/corporate/zurich-logo-blue.svg');
    display: block;
    height: 40px;
    width: 200px;
    background-attachment: local;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.card-spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 3.5rem;
    width: 100%;
    background-color: white;
    padding: 1rem 1.5rem;
    box-shadow: 0 6px 20px #00000014;
    z-index: 10;
    margin-bottom: 20px;

    span {
        font-size: 16px;
    }

}