<section class="container">

  <div class="contenedor">
    
    <mat-card appearance="outlined" class="card-content">
        <mat-card-header>
            <mat-card-title>Administración de polizas</mat-card-title>
            <mat-card-subtitle>Listado</mat-card-subtitle>
            <span class="card-spacer"></span>
            <button mat-icon-button aria-label="Nueva poliza" (click)="openNewPolizaForm(null)" cdkFocusInitial>
                <mat-icon class="icon-blue">note_add</mat-icon>
              </button>
        </mat-card-header>
        <mat-divider></mat-divider>
        <br>
        <mat-card-content>

          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title> Filtros avanzados </mat-panel-title>
              <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>

            <form [formGroup]="filtrosPolizas" class="filtros-form">
              <!-- Filtros UI -->
              <!-- tipo poliza -->
              <mat-form-field>
                <mat-label>Tipo de poliza</mat-label>
                <mat-select name="tipoPolizaSelect" formControlName="type">
                  @for (poli of polizaTypes; track poli) {
                    <mat-option [value]="poli.id">{{poli.name}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>

              <!-- status poliza -->
              <mat-form-field>
                <mat-label>Status</mat-label>
                <mat-select name="statusSelect" formControlName="estado">
                  @for (poli of statusPolis; track poli) {
                    <mat-option [value]="poli.value">{{poli.name}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>


              <mat-form-field>
                <mat-label>Elige el rango de fechas</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate formControlName="start" placeholder="Fecha de inicio">
                  <input matEndDate formControlName="end" placeholder="Fecha final">
                </mat-date-range-input>
                <mat-hint>mm/dd/yyyy – mm/dd/yyyy</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              
                @if (filtrosPolizas.controls.start.hasError('matStartDateInvalid')) {
                  <mat-error>Fecha de inicio invalida</mat-error>
                }
                @if (filtrosPolizas.controls.end.hasError('matEndDateInvalid')) {
                  <mat-error>Fecha final invalida</mat-error>
                }
              </mat-form-field>

            </form>
            <button mat-button [disabled]="false" (click)="resetFiltros()">Reset</button>
            <button mat-stroked-button [disabled]="false" (click)="filtrarPolizas()">Filtrar</button>
          </mat-expansion-panel>


            <div class="mat-elevation-z8">

              <table mat-table [dataSource]="dataSource" matSort class="table-zurich">

                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Poliza </th>
                  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <ng-container matColumnDef="cliente">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </th>
                  <td mat-cell *matCellDef="let element"> {{element.cliente.name}} </td> 
                </ng-container>

                <ng-container matColumnDef="tipoPoliza">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Póliza </th>
                  <td mat-cell *matCellDef="let element"> {{ element.tipoPolizaName }} </td>
                </ng-container>

                <ng-container matColumnDef="fechaInicio">
                  <th mat-header-cell *matHeaderCellDef> Fecha de Inicio </th>
                  <td mat-cell *matCellDef="let element"> {{element.dateStart | date: 'MM/dd/yyyy'}} </td>
                </ng-container>

                <ng-container matColumnDef="fechaExpiracion">
                  <th mat-header-cell *matHeaderCellDef> Fecha de Expiración </th>
                  <td mat-cell *matCellDef="let element"> {{element.dateExpiration | date: 'MM/dd/yyyy'}} </td>
                </ng-container>

                <ng-container matColumnDef="monto">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Monto </th>
                  <td mat-cell *matCellDef="let element"> {{element.monto}} </td>
                </ng-container>

                <ng-container matColumnDef="estado">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                  <td mat-cell *matCellDef="let element"> {{element.status ? 'Activa' : 'Cancelada'}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef> Acciones </th>
                  <td mat-cell *matCellDef="let element"> 
                      <div class="actions-button-row">
                          <div class="actions-flex-container">
                            <button mat-icon-button aria-label="Editar" (click)="openNewPolizaForm(element)">
                              <mat-icon>edit_note</mat-icon>
                            </button>
                          </div>
                      </div>
                  </td>         
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

              <!-- no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">No existen registros para "{{this.dataSource.filter}}"</td>
              </tr>

              </table>
              <mat-paginator [pageSizeOptions]="[5, 10, 15]" aria-label="Polizas por página"></mat-paginator>

          </div>
      </mat-card-content>
      <!-- <mat-card-actions>
        <button mat-button (click)="openDialog()">Nuevo Poliza</button>

        (click)="openDeleteDialog(element)"
      </mat-card-actions> -->
    </mat-card>

</div> 
</section> 
